<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    Lists of questions: <br />
    {%for q in question_list%} <h3>Question Title:<a href="{%url 'qna:detail' q.id%}">{{q.title}}</a></h3>
    <h3>{{q.question_desc}}</h3>
    <span style="font-size: 12px;">Posted on:{{q.timestamp}}</span>
    Upvotes: <strong>{{q.question_votes}}</strong><br />
    <img
      src="../../media/{{q.question_img}}"
      width="200px"
      height="200px"
      alt=""
      This
      is
      an
      image
    /><br>
    <a href="{%url 'qna:update' q.id%}"><button>Update</button></a>
    <a href="{%url 'qna:delete' q.id%}"><button>Delete</button></a>
    <a href="{%url 'qna:upvote' q.id%}"><button>Upvote</button></a><br />
    <textarea rows="5" cols="100" placeholder="enter answer" name="answerfield"/></textarea>
    <a href="{%url 'qna:addanswer' q.id%}"><button>Submit</button></a><br /><br />
    {%endfor%}

    <a href="{% url 'qna:addquestion' %}"><button>Add</button></a>
  </body>
</html>
